<% family_var ||= nil %>
<% compact_var ||= "" %>
<% name_method ||= :first_last %>

<% if compact_var == "compact" %>
  <p>
    <b><%= student_var.send(name_method) %></b>

    <% if student_var.schoolclasses.size > 0 %>
      <small><em style="margin-left: 20px;"><%= "Enrolled in #{student_var.schoolclasses.size} #{'class'.pluralize(student_var.schoolclasses.size)}" %></em></small>
    <% end %>

    <% if family_var.nil? %>
      <!-- family_var being nil means that we are not listing the student in the -->
      <!-- context of a family listing and therefore OK to show more editing controls -->
      <% if allow_object_edit?(student_var) %>
        <%= icon_action_link("icon-pencil", "Edit", edit_student_path(student_var)) %>
      <% end %>
      <%= icon_action_link("icon-home", "Family", family_path(student_var.family)) %>
    <% end %>
    
    <%= icon_action_link("icon-user", "Details", student_path(student_var)) %>
  </p>
<% else %>
  <div class="well">
  <h4>
    <%= student_var.send(name_method) %>
    <% if family_var.nil? %>
      <!-- family_var being nil means that we are not listing the student in the -->
      <!-- context of a family listing and therefore OK to show more editing controls -->
      <% if allow_object_edit?(student_var) %>
        <%= icon_action_link("icon-pencil", "Edit", edit_student_path(student_var)) %>
      <% end %>
      <%= icon_action_link("icon-home", "Family", family_path(student_var.family)) %>
    <% else %>
      <%= icon_action_link("icon-user", "Details", student_path(student_var)) %>
    <% end %>
  </h4>
  <hr/>

  <% if student_var.parents.size > 0 %>
    <div style="margin-left: 40px;">
      <h5>Parents</h5>
      <%= render "parents/parents_list",
      {
        parent_list_var: student_var.parents,
        allow_add_parent_var: "",
        warn_on_empty_var: "",
        family_var: family_var
      } %>
    </div>
  <% end %>

  <% if student_var.family_siblings && student_var.family_siblings.size > 0 %>
    <div style="margin-left: 40px;">
      <h5>Siblings</h5>
      <%= render "students/students_list",
      {
        student_list_var: student_var.family_siblings,
        name_method: :last_first,
        family_var: nil,
        compact_var: "compact"
      } %>
    </div>
  <% end %>

  <% if student_var.schoolclasses.size > 0 %>
    <div style="margin-left: 40px;">
      <h5>Classes</h5>
      <%= render "schoolclasses/schoolclass_list",
      {
        schoolclass_list_var: student_var.schoolclasses,
        compact_var: "compact"
      } %>
    </div>
  <% end %>

  <% if student_var.teachers.size > 0 %>
    <div style="margin-left: 40px;">
      <h5>Teachers</h5>
      <%= render "teachers/teachers_list",
      {
        teacher_list_var: student_var.teachers,
        compact_var: "compact"
      } %>
    </div>
  <% end %>

<% end %>
