<!-- we show a block of information about the family -->

<% details_var ||= "none" %>

<div class="well">
  <h3><%= family_var.name %>
  <% if details_var != "details" %>
    </h3>
    <%= link_to family_path(family_var) do %>
      <i class="icon-book"></i>&nbsp;&nbsp;Details
    <% end %>
  <% else %>
    <% if allow_object_edit?(family_var) %>
      <%= icon_action_link("icon-pencil", "Edit", edit_family_path(family_var)) %>
    <% end %>
    
    <%= icon_action_link("icon-book", "Families", families_path) %>
    </h3>
    <h4>Parents</h4>

    <div style="margin-left: 40px;">
      <%= render "parents/parents_list",
          {
            parent_list_var: family_var.parents,
            allow_add_parent_var: allow_object_edit?(family_var) ? "allow" : "",
            warn_on_empty_var: "warn",
            family_var: family_var
          } %>
    </div>

    <h4>Students</h4>

    <div style="margin-left: 40px;">
      <%= render "students/students_list",
          {
            student_list_var: family_var.students,
            allow_add_student_var: allow_object_edit?(family_var) ? "allow" : "",
            warn_on_empty_var: "warn",
            family_var: family_var
          } %>
    </div>

    <% if family_var.address %>
      <h4>Family Address
      <% if allow_object_edit?(family_var) %>
        <%= icon_action_link("icon-pencil", "Edit", edit_address_path(family_var.address)) %>
      <% end %>
      </h4>
      <%= render "addresses/address_entry", {address_var: family_var.address} %>
    <% else %>
      <p>
        No family address has been created yet.

      <% if family_var.parents && family_var.parents.detect {|p| p.address != nil } %>
        However, at least one parent in the family has an address defined.
      <% end %>
      </p>
      <% if allow_object_edit?(family_var) %>
        <div style="margin-left: 40px;">
        <%= link_to '<i class="icon-plus"></i>Add Address'.html_safe, new_family_address_path(family_var), class: "btn btn-small" %>
        </div>
      <% end %>
    <% end %>

  <% end %>
</div>
