<%= render "shared/content_title", {title_var: title_var} %>

<!-- if the user is a superadmin, allow switching to other -->
<!-- user views -->
<% if superadmin_logged_in? %>
	<div class="well">
		<%= form_tag(admin_edit_users_path, :method => "get", class: "form") do %>
			<div class="control-group">
				<%= label_tag(:uname, "Switch to user:") %>
				<% edituser = User.find_by(slug: params[:id]) %>
				<%= select_tag(:id, options_for_select(User.all.map { |u| u.slug}, edituser ? edituser.username : nil)) %>
			</div>

			<br>
			<%= submit_tag("Switch User") %>

		<% end %>
	</div>
<% end %>

<% create_button_string = @user.new_record? ? "Create User Account" : "Update User Account" %>

<!-- display error messages -->
<%= render "shared/errors_display", errors_set: @user.errors %>

<div class="well">
	<%= form_for @user, html: {class: "form"} do |f| %>
		<div class="control-group">
      <%= f.label :username %>
      <%= f.text_field :username %>
		</div>

		<div class="control-group">
			<%= f.label :password %>
      <%= f.password_field :password %>
		</div>

    <div class="control-group">
      <%= f.label :password_confirm %>
      <%= f.password_field :password_confirm %>
    </div>

    <div class="control-group">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

		<% if superadmin_logged_in? %>
			<!-- superadmins should not be able to change their own role    -->
			<!-- remember that @user is not necessarily the logged-in user. -->
			<% if !@user.superadmin? %>
				<div class="control-group">
 					<%= f.label :role %>
     		  <%= f.select(:role, @user.avail_roles) %>
        </div>
			<% end %>

		<% end %>
		
		<br>
		<%= f.submit create_button_string || "Submit", class: "btn btn-success" %>
		</div>
	<% end %>

</div>

