<%= render "shared/content_title", {title_var: title_var} %>

<% create_button_string = @teacher.new_record? ? "Create Teacher Record" : "Update Teacher Record" %>

<%= render "shared/errors_display", errors_set: @teacher.errors %>

<div class="well">

  <%= form_for @teacher do |f| %>
    <div class="control-group">
      <%= f.label :firstname %>
      <%= f.text_field :firstname %>
    </div>
    
    <div class="control-group">
      <%= f.label :lastname %>
      <%= f.text_field :lastname %>
    </div>

    <div class="control-group">
      <%= f.label :schoolclass_ids, "Classes Taught" %>
      <%= f.collection_select(:schoolclass_ids, Schoolclass.all.sort_by{ |sc| sc.name }, :id, :name,
          {
            selected: @teacher.schoolclasses.map(&:id)
          },
          {
            multiple: true,
            style: "width: 400px;",
            size: Schoolclass.all.size < 8 ? Schoolclass.all.size : 8
          }) %>
    </div>

    <br/>
    <%= f.submit create_button_string, class: "btn btn-primary" %>
  <% end %>

</div>
