= render "shared/content_title", {title_var: title_var}

- pure_address_var ||= "none"

- create_button_string = @address.new_record? ? "Create Address" : "Update Address"

= render "shared/errors_display", errors_set: @address.errors

.well
  - form_input = nil
  - pure_address_var == "pure" ? form_input = @address : form_input = [@address.addressable, @address]
  = form_for form_input do |f|
    .control-group
      = f.label :address_line1, "Address"
      = f.text_field :address_line1

    .control-group
      = f.label :address_line2, "Address (continued)"
      = f.text_field :address_line2

    .control-group
      = f.label :city
      = f.text_field :city

    .control-group
      = f.label :state
      = f.text_field :state

    .control-group
      = f.label :zipcode
      = f.text_field :zipcode

    <br/>
    = f.submit create_button_string, class: "btn btn-primary"
