<% compact_var ||= "" %>

<% if compact_var == "compact" %>
  <p>
    <b><%= schoolclass_var.name %></b>
    <small><em style="margin-left: 20px;"><%= "With #{schoolclass_var.teachers.size} #{'teacher'.pluralize(schoolclass_var.teachers.size)} and #{schoolclass_var.students.size} #{'student'.pluralize(schoolclass_var.students.size)}" %></em></small>

    <%= icon_action_link("icon-user", "Details", schoolclass_path(schoolclass_var)) %>
    <%= icon_action_link("icon-pencil", "Edit", edit_schoolclass_path(schoolclass_var)) %>
  </p>

<% else %>
  <div class="well">
    <h4><%= schoolclass_var.name %>
      <% if schoolclass_var.teachers.size > 0 %>
        <%= icon_action_link("icon-pencil", "Specify Teachers", add_teachers_schoolclass_path(schoolclass_var)) %>
      <% end %>
      <% if schoolclass_var.students.size > 0 %>
        <%= icon_action_link("icon-pencil", "Specify Students", add_students_schoolclass_path(schoolclass_var)) %>
      <% end %>
    </h4>
    <hr/>
    <div style="margin-left: 40px;">
      <h5><%= "Teacher".pluralize(schoolclass_var.teachers.size) %></h5>
      <% if schoolclass_var.teachers.size > 0 %>
        <%= render "teachers/teachers_list",
        {
          teacher_list_var: schoolclass_var.teachers,
          compact_var: "compact"
        } %>
      <% else %>
        <p>No teachers have been defined for this class.</p>
        <% if compact_var != "compact" %>
          <%= link_to '<i class="icon-plus"></i>Add Teachers'.html_safe, add_teachers_schoolclass_path(schoolclass_var), class: "btn btn-small" %>
        <% end %>
      <% end %>
    </div>

    <div style="margin-left: 40px;">
      <h5><%= "Student".pluralize(schoolclass_var.students.size) %></h5>
      <% if schoolclass_var.students.size > 0 %>
        <%= render "students/students_list",
        {
          student_list_var: schoolclass_var.students,
          compact_var: "compact"
        } %>
      <% else %>
        <p>No students have been defined for this class.</p>
        <% if compact_var != "compact" %>
          <%= link_to '<i class="icon-plus"></i>Add Students'.html_safe, add_students_schoolclass_path(schoolclass_var), class: "btn btn-small" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

